{% extends "HodDashBoard.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid text-bg-primary p-3">
  <div class="container m-3">
      <h2>Manage Student</h2>
  </div>
</div>
<div class="m-5">
    <button  data-student-id="{{i.id}}" class="add-button btn btn-primary mb-4" data-toggle="modal" data-target="#exampleModal" id="span_name">Add Student</button>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Student ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Course</th>
          <th scope="col">Session Year</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          {% for i in users %}
              <tr>
                  <th scope="row">{{i.id}}</th>
                  <td><span id="fnmspan{{i.id}}">{{i.first_name}}</span><input id="inputfnm{{i.id}}" class="form-control" value="{{i.first_name}}" hidden/></td>
                  <td><span id="lnmspan{{i.id}}">{{i.last_name}}</span><input id="inputlnm{{i.id}}" class="form-control" value="{{i.last_name}}" hidden/></td>
                  <td><span id="emailspan{{i.id}}">{{i.email}}</span><input id="inputemail{{i.id}}" class="form-control" value="{{i.email}}" hidden/></td>
                  <td>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg  example" id="courseselect-{{i.id}}" name="courseselect" required disabled>
                      {%for j in i.courses %}
                        {% if i.course == j.courseName%}
                          <option class="p-4 mb-3" value="{{j.pk}}" selected>{{j.courseName}}</option>
                        {% else %}
                          <option class="p-4 mb-3" value="{{j.pk}}">{{j}}</option>
                        {%endif%}
                      {%endfor%}
                    </select>
                  </td>
                  <td>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg  example" id ="sessionselect-{{i.id}}" name="sessionselect" required disabled>
                      {%for k in i.sessions %}
                      {{k}}
                        {% if i.sessionYear == k%}
                          <option value="{{k.pk}}" selected>{{k}}</option>
                        {% else %}
                          <option value="{{k.pk}}">{{k}}</option>
                        {%endif%}
                      {%endfor%}
                    </select>
                  <td><button type="button" class="btn btn-warning" id='update_Student{{i.id}}' onclick='updateStudent({{i.id}})'>Edit</button>
                    <button class="btn btn-primary" id='save_student{{i.id}}' onclick='savestudent({{i.id}})'hidden>Save</button>
                  </td>
                  <td><button type="button" class="btn btn-danger" onclick='deletestudent({{i.id}})' >Delete</button></td>  
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>

  {% comment %} {% for i in student %} {% endcomment %}
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title fw-bold text-start" id="exampleModalLabel">Add Student</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">First Name:</label>
              <input type="text" class="form-control" id="floatingInputf_nm" placeholder="First Name" name="first_name">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Last Name:</label>
              <input type="text" class="form-control" id="floatingInputl_nm" placeholder="Last Name" name="last_name">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Email:</label>
              <input type="email" class="form-control" id="floatingInput_email" placeholder="name@example.com" name="email">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Password:</label>
              <input type="password" class="form-control" id="floatingPwd" placeholder="Password" name="password" >
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">course:</label>
              <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg  example" id="courseselectdrop" name="courseselectdrop" required >
                {% for i in users|slice:":1"%}
                  {% for j in i.courses%}
                    <option value="{{j.pk}}">{{j}}</option>
                  {%endfor%}
                {%endfor%}
              </select>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">sessionYear:</label>
              <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg  example" id="sessionselectdrop" name="sessionselectdrop " required >
                {% for i in users|slice:":1"%}
                  {% for k in i.sessions%}
                    <option value="{{k.pk}}">{{k}}</option>
                  {%endfor%}
                {%endfor%}
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick='poststudent()'>Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% comment %} {%endfor%} {% endcomment %}
  {% if flag == 2%}
    <script>
      window.location.href = "{% url 'login'%}";
    </script>
  {% endif %}
{% endblock content %}
{% block js%}
<script>

    console.log("hello hii-----")
    function updateStudent(e){
        document.getElementById("update_Student"+e).hidden = true
        document.getElementById("fnmspan"+e).hidden = true
        document.getElementById("lnmspan"+e).hidden = true
        document.getElementById("emailspan"+e).hidden = true
        $('select').removeAttr('disabled');
        //document.getElementById("courseselect").attr('disabled','false')
        //document.getElementById("sessionselect").attr('disabled','false')
        document.getElementById("save_student"+e).removeAttribute("hidden");
        document.getElementById("inputfnm"+e).removeAttribute("hidden");
        document.getElementById("inputlnm"+e).removeAttribute("hidden");
        document.getElementById("inputemail"+e).removeAttribute("hidden");
        //document.getElementById("courseinput"+e).removeAttribute("hidden");
        //document.getElementById("sessionyearinput"+e).removeAttribute("hidden");
    }

    function savestudent(e){
        console.log("here---")
        email = document.getElementById("inputemail"+e).value;
        fnm = document.getElementById("inputfnm"+e).value;
        lnm = document.getElementById("inputlnm"+e).value;
        coursevalue = document.getElementById("courseselect-"+e).value;
        sessionValue = document.getElementById("sessionselect-"+e).value;
        console.log("course--",coursevalue)
        $.ajax({
            method: "patch",
            url: "/student/"+e,
            headers: {
                'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
            },
            data:{
                'pk':e,
                'email': email,
                'first_name':fnm,
                'last_name':lnm,
                'course':coursevalue,
                'sessionYear': sessionValue
            },
            success: function(){
                alert("Record Updated successfully")
                document.location = "/managestudent/"
            },
            error: function () {
                document.location = "/managestudent/"
               }
      });
    }

    function deletestudent(e){
        $.ajax({
            method: "delete",
            url: "/student/"+e,
            headers: {
                'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
            },
            data:{
                'pk':e,
            },
            success: function(){
                alert("Record Deleted !!")
                document.location = "/managestudent/"
            },
            error: function () {
                document.location = "/managestudent/"
               }
      });
    }

    function poststudent(){
        email = document.getElementById("floatingInput_email").value;
        fnm = document.getElementById("floatingInputf_nm").value;
        lnm = document.getElementById("floatingInputl_nm").value;
        pwd = document.getElementById("floatingPwd").value;
        course = document.getElementById("courseselectdrop").value;
        session = document.getElementById("sessionselectdrop").value;
        $.ajax({
            method: "post",
            url: "/student/",
            headers: {
                'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
            },
            data:{
                'email': email,
                'first_name':fnm,
                'last_name':lnm,
                'password':pwd,
                'course':course,
                'sessionYear':session
            },
            success: function(){
              console.log("success---")
                alert("student Created successfully")
                document.location = "/managestudent/"
            },
            error: function () {
              console.log("error---")
                document.location = "/managestudent/"
               }
      });
    }
</script>
{% endblock js%}