{% extends "teacherDashBoard.html" %}
{% load static %}
{% block content %}
<h3 class="m-2 p-3">Take Attendance</h3>
<div class="jumbotron jumbotron-fluid text-bg-primary m-3 p-3">
    <form>
    <h3>Subject</h3>
    {% csrf_token %}
    <select class="form-select form-select-lg mb-3 w-50" aria-label=".form-select-lg example" id="subjectselect" name="subjectselect" required>
        {%for i in sub%}
        <option value="{{i.subName}}">{{i.subName}}</option>
        {%endfor%}
    </select>

    <h3>Session Year</h3>
    <select class="form-select form-select-lg mb-3 w-50" aria-label=".form-select-lg example" id="sessionselect"name="sessionselect" required>
        {%for i in session%}
        <option value="{{i.id}}">{{i}}</option>
        {%endfor%}
    </select>
    <button class="btn btn-warning btn-lg" id='fetchstudent' >Fetch students
    </button>
</form>
</div>
<div class="container">
    <h1>List all books</h1>
    <table class="table" id="attendanceTable">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Student Id</th>
            <th scope="col">Student Name</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>  
{% endblock content %}  
{% block js%}
<script>

$('#fetchstudent').click(function(event) {
    event.preventDefault();
    var subject1 = $('#subjectselect').val();
    var Year1 = $('#sessionselect').val();
      $.ajax({
      url: '/subattendance/', 
      method: 'POST',
      data: {
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        subjectselect:subject1
      },
      success: function(response) {
        var list1 = response[0]
        var list2 = response[1] 
        var rows = '';
        if (list2 && list2.length > 0) {
          const userExists = list1.some(user => {
            const userId = user.user_id;
            const userStatus = list2.find(([id, status]) => id === userId);
            return userStatus !== undefined;
          });

          if (userExists) {
            list1.forEach(user => {
              const userId = user.user_id;
              const userStatus = list2.find(([id, status]) => id === userId);
              if (userStatus !== undefined) {
                const status = userStatus[1];
                if (userStatus[1] == true ){
                no = 1 
                rows += '<tr id="row-' + no + '">';
                rows += '<td>' + no + '</td>';
                rows += '<td class = "user_id">' + user.user_id + '</td>';
                rows += '<td class = "fnmlnm">' + user.fnm + '   ' + user.lnm + '</td>';
                rows += '<td class = "email">' + user.email + '</td>';
                rows += '<td><button class="presentBtn btn btn-warning" id="presentbtn-'+ no +'" disabled> Present </button></td>';
                rows += '<td><button class="absentBtn btn btn-danger" id="absentbtn-'+ no +'"> Absent </button></td>';
                rows += '</tr>';
                $('#attendanceTable tbody').html(rows);
                console.log(`User ${userId} has status ${status}`); }
                if (userStatus[1] == false ){
                  no = 1 
                  rows += '<tr id="row-' + no + '">';
                  rows += '<td>' + no + '</td>';
                  rows += '<td class = "user_id">' + user.user_id + '</td>';
                  rows += '<td class = "fnmlnm">' + user.fnm + '   ' + user.lnm + '</td>';
                  rows += '<td class = "email">' + user.email + '</td>';
                  rows += '<td><button class="presentBtn btn btn-warning" id="presentbtn-'+ no +'" > Present </button></td>';
                  rows += '<td><button class="absentBtn btn btn-danger" id="absentbtn-'+ no +'" disabled> Absent </button></td>';
                  rows += '</tr>';
                  $('#attendanceTable tbody').html(rows);
                  console.log(`User ${userId} has status ${status}`);
                }
              }
              
            });
          }
        } else {
          for (var i = 0; i < list1.length; i++) {
   
            var userId = list1[i]['user_id'];
              no = i+1 
            rows += '<tr id="row-' + i + '">';
            rows += '<td>' + no + '</td>';
            rows += '<td class = "user_id">' + list1[i].user_id + '</td>';
            rows += '<td class = "fnmlnm">' + list1[i].fnm + '   ' + list1[i].lnm + '</td>';
            rows += '<td class = "email">' + list1[i].email + '</td>';
            rows += '<td><button class="presentBtn btn btn-warning" id="presentbtn-'+ i +'"> Present </button></td>';
            rows += '<td><button class="absentBtn btn btn-danger" id="absentbtn-'+ i +'"> Absent </button></td>';
            rows += '</tr>';
            $('#attendanceTable tbody').html(rows);
          }
        }

        $('.presentBtn').click(function() {
            var myId = $(this);
            var buttonId = myId.attr('id');
            button = document.getElementById(buttonId)
            var studentId = $(this).closest('tr').find('.user_id').text();
            var BtnAbsent = $(this).closest('tr').find('.absentBtn');
            Absentbtn = BtnAbsent.attr('id');
            Absentbtn1 = document.getElementById(Absentbtn)
            $.ajax({
                type: "POST",
                url: "/takeattendance/",
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    studentId:studentId,
                    subjectId:subject1,
                    year:Year1,
                    status:'True',
                },
                success: function(){
                    $(button).prop('disabled', true);
                    $(Absentbtn1).prop('disabled',false)
                },
                error: function () {
                    alert("Unique Book No already Exists");
                   
                   }
          });
        });
        $('.absentBtn').click(function() {
          var myId = $(this);
          var buttonId = myId.attr('id');
          button = document.getElementById(buttonId)
          var studentId = $(this).closest('tr').find('.user_id').text();
          var BtnPresent = $(this).closest('tr').find('.presentBtn');
          presentbtn = BtnPresent.attr('id');
          presentbtn1 = document.getElementById(presentbtn)
          $.ajax({
              type: "POST",
              url: "/takeattendance/",
              data: {
                  csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                  studentId:studentId,
                  subjectId:subject1,
                  year:Year1,
                  status:'False',
              },
              success: function(){
                  $(button).prop('disabled', true);
                  $(presentbtn1).prop('disabled',false)
                  //document.location = "/applyleave/"
              },
              error: function () {
                  alert("Unique Book No already Exists");
                 
                }
        });
      });
      },
      error: function() {
        console.log("herer error----")
      }
    });
  });





</script>
{% endblock js%}